// Place all the styles related to the tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.tasks {
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  text-align: center;
}

input {
  margin: 10px 5px;
}

.container {
  padding-top: 30px;
  width: 700px;
  margin: 0 auto;
  text-align: center;
}

.btn {
  color: white;
  margin: 5px;
}

a {
  color: white;
}

.task {
  width: 300px;
  background-color: #d1d1d1;
  padding: 20px;
  border-radius: 10px;

}
